In [85]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import json
import requests
from pprint import pprint
from IPython.display import display, Image
from config import api_key
import gmaps
from config import gkey
import datetime
gmaps.configure(api_key=gkey)
from ipywidgets.embed import embed_minimal_html

Indoor Music Venues Music Venues:

In [174]:
indoor_venue = ['Ogden', 'Fillmore Auditorium', 'Bluebird Theatre', 'The Mission Ballroom',
               'Ball Arena (Pepsi Center)', 'Gothic Theatre', 'Fox Theatre', 'Aggie Theatre']

place_id_list = ['ChIJc1frSS15bIcRvEDDqHoi9qc', 'ChIJPzbl2yx5bIcRsTOtTjPWiqU', 'ChIJP8d_pa1-bIcRG-K18x5tMgA', 'ChIJNzlf3X95bIcRFeU_G_4p1rc',
                'ChIJ0wRGki55bIcRRcyHIwJFmZ8','ChIJvaayfNV_bIcRz844mNNqcRk', 'ChIJm3Mz6jDsa4cRcLUYctwIzBI', 'ChIJjbpNBfVKaYcR_VJ1YThhpFY']

In [175]:
data = pd.DataFrame({'Venue' :indoor_venue, 'Google ID' :place_id_list})
data

                       Venue                    Google ID
0                      Ogden  ChIJc1frSS15bIcRvEDDqHoi9qc
1        Fillmore Auditorium  ChIJPzbl2yx5bIcRsTOtTjPWiqU
2           Bluebird Theatre  ChIJP8d_pa1-bIcRG-K18x5tMgA
3       The Mission Ballroom  ChIJNzlf3X95bIcRFeU_G_4p1rc
4  Ball Arena (Pepsi Center)  ChIJ0wRGki55bIcRRcyHIwJFmZ8
5             Gothic Theatre  ChIJvaayfNV_bIcRz844mNNqcRk
6                Fox Theatre  ChIJm3Mz6jDsa4cRcLUYctwIzBI
7              Aggie Theatre  ChIJjbpNBfVKaYcR_VJ1YThhpFY

In [145]:
df = pd.read_excel('data_files/Fillmore Auditorium Reviews.xlsx')

df= pd.DataFrame(df)
df = df[['review_datetime_utc','review_rating']]

df = df.rename(columns={'review_datetime_utc': 'Review Date', 'review_rating': 'Ratings'})
df.head()

  Review Date  Ratings
0  2020-10-21        5
1  2020-10-11        4
2  2020-09-23        5
3  2020-09-09        5
4  2020-08-30        5

In [195]:
winter18_1 = '2018-01-01'
winter18_2 = '2018-03-31'
spring18_1 = '2018-04-30'
spring18_2 = '2018-06-30'
summer18_1 = '2018-07-01'
summer18_2 = '2018-09-30'
fall18_1 = '2018-10-01'
fall18_2 = '2018-12-31'

winter19_1 = '2019-01-01'
winter19_2 = '2019-03-31'
spring19_1 = '2019-04-30'
spring19_2 = '2019-06-30'
summer19_1 = '2019-07-01'
summer19_2 = '2019-09-30'
fall19_1 = '2019-10-01'
fall19_2 = '2019-12-31'

Winter_18 = df[(pd.to_datetime(df[df.columns[0]]) >= winter18_1) & (pd.to_datetime(df[df.columns[0]]) <= winter18_2)]
Winter_18 =pd.DataFrame(Winter_18)
Spring_18 = df[(pd.to_datetime(df[df.columns[0]]) >= spring18_1) & (pd.to_datetime(df[df.columns[0]]) <= spring18_2)]
Spring_18 =pd.DataFrame(Spring_18)
Summer_18 = df[(pd.to_datetime(df[df.columns[0]]) >= summer18_1) & (pd.to_datetime(df[df.columns[0]]) <= summer18_2)]
Summer_18 =pd.DataFrame(Summer_18)
Fall_18 = df[(pd.to_datetime(df[df.columns[0]]) >= fall18_1) & (pd.to_datetime(df[df.columns[0]]) <= fall18_2)]
Fall_18 = pd.DataFrame(Fall_18)
Winter_19 = df[(pd.to_datetime(df[df.columns[0]]) >= winter19_1) & (pd.to_datetime(df[df.columns[0]]) <= winter19_2)]
Winter_19 = pd.DataFrame(Winter_19)
Spring_19 = df[(pd.to_datetime(df[df.columns[0]]) >= spring19_1) & (pd.to_datetime(df[df.columns[0]]) <= spring19_2)]
Spring_19 = pd.DataFrame(Spring_19)
Summer_19 = df[(pd.to_datetime(df[df.columns[0]]) >= summer19_1) & (pd.to_datetime(df[df.columns[0]]) <= summer19_2)]
Summer_19 = pd.DataFrame(Summer_19)
Fall_19 = df[(pd.to_datetime(df[df.columns[0]]) >= fall19_1) & (pd.to_datetime(df[df.columns[0]]) <= fall19_2)]
Fall_19 = pd.DataFrame(Fall_19)

In [196]:
Winter_18_mean = Winter_18['Ratings'].mean()
Spring_18_mean = Spring_18['Ratings'].mean()
Summer_18_mean = Summer_18['Ratings'].mean()
Fall_18_mean = Fall_18['Ratings'].mean()
Winter_19_mean = Winter_19['Ratings'].mean()
Spring_19_mean = Spring_19['Ratings'].mean()
Summer_19_mean = Summer_19['Ratings'].mean()
Fall_19_mean = Fall_19['Ratings'].mean()

In [197]:
Mean_DF = pd.DataFrame([Winter_18_mean, Spring_18_mean,Summer_18_mean,Fall_18_mean,Winter_19_mean,Spring_19_mean,Summer_19_mean ,Fall_19_mean])


Mean_DF = Mean_DF.rename(columns = {'Average Rating' :" 0"})
Mean_DF

          0
0  4.513834
1  4.517241
2  4.594828
3  4.503226
4  4.511312
5  4.675000
6  4.583673
7  4.665584

In [189]:
Winter = []
Spring = []
Summer =[]
Fall =[]

                       Venue                    Google ID
0                      Ogden  ChIJc1frSS15bIcRvEDDqHoi9qc
1        Fillmore Auditorium  ChIJPzbl2yx5bIcRsTOtTjPWiqU
2           Bluebird Theatre  ChIJP8d_pa1-bIcRG-K18x5tMgA
3       The Mission Ballroom  ChIJNzlf3X95bIcRFeU_G_4p1rc
4  Ball Arena (Pepsi Center)  ChIJ0wRGki55bIcRRcyHIwJFmZ8
5             Gothic Theatre  ChIJvaayfNV_bIcRz844mNNqcRk
6                Fox Theatre  ChIJm3Mz6jDsa4cRcLUYctwIzBI
7              Aggie Theatre  ChIJjbpNBfVKaYcR_VJ1YThhpFY

In [26]:
venue = []
rating = []
latitude = []
longitude = []
price = []
icon = []

url = "https://maps.googleapis.com/maps/api/place/details/json?"

query_url = f"{url}&key={api_key}&placeid="

count = 0

for p_id in place_id_list:
    try:
        response = requests.get(f"{query_url}{p_id}").json()
        latitude.append(response['result']['geometry']['location']['lat'])
        longitude.append(response['result']['geometry']['location']['lng'])
        venue.append(response['result']['name'])
        rating.append(response['result']['rating'])
        
    except:
        print('data not available')
    continue

In [27]:
venue_df = pd.DataFrame({'Venue':venue, 'Rating' : rating, 'Latitude':latitude, 'Longitude' : longitude})
venue_df

fill_og = venue_df[0:2]
fill_og

                 Venue  Rating   Latitude   Longitude
0        Ogden Theatre     4.5  39.740170 -104.975270
1  Fillmore Auditorium     4.5  39.740201 -104.977219

In [28]:
coordinates = pd.DataFrame(fill_og[{'Latitude':latitude, 'Longitude' : longitude}])
coordinates

figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)
fig

markers = gmaps.marker_layer(coordinates)
# Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wiâ€¦

In [ ]:
####Test data

url = "https://maps.googleapis.com/maps/api/place/details/json?placeid=ChIJjbpNBfVKaYcR_VJ1YThhpFY&key=AIzaSyDM_DYthKJ__H35Rx4JnP0_7gzU0kO1wtI"
response = requests.get(url).json()
pprint(response)